:8000 {
	root * /opt/daily-manna/build/web

	handle /api/* {
		reverse_proxy 127.0.0.1:8080
	}

	handle /_ {
		reverse_proxy 127.0.0.1:8080
	}

	handle /_/* {
		reverse_proxy 127.0.0.1:8080
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
